<div class="block">
	<h3> oh hai</h3>       
   <div class="content">
     <h4>Fill the form below or send us a mail to <a href="mailto:info@acoplet.com">info@acoplet.com</a></h4>
     <div class="inner">
       <form action="/send_message" method="post" accept-chartset="utf-8" class="form">
         <div class="columns">
           <div class="column left">
             <div class="group">
               <label class="label">Your Name:</label>
               <input name='name' type="text" class="text" />
             </div>
			 <div class="group">
               <label class="label">Your email address:</label>
               <input name='email' type="text" class="text" />
             </div>
			 <div class="group">
               <label class="label">Company name:</label>
               <input name='company' type="text" class="text" />
             </div>
			 <div class="group">
               <label class="label">Web page:</label>
               <input name='web' type="text" class="text" />
             </div>
             <div class="group">
               <label class="label">Message: </label>
               <textarea name='message' class="textarea" rows="10" cols="80"></textarea>
             </div>              
           </div>
           <div class="column right">
             <div class="group">
               <label class="label">Subscribe to AcopleT news</label><br />
               <div>
                 <input type="radio" name="radio" id="radio_1" class="checkbox" value="1" /> <label for="radio_1" class="radio">Yes</label>
               </div>
               <div>
                 <input type="radio" name="radio" id="radio_2" class="checkbox" value="2" /> <label for="radio_2" class="radio">No</label>
               </div>
             </div>
           </div>
         </div>
         <div class="clear"></div>
         <div class="group navform">
           <input type="submit" class="button" value="Save &rarr;" /> or <a href="#">Cancel</a>
         </div>            
       </form>
     </div>
   </div>
 </div>